# MySQL 
* Install connector: !pip install mysql-connector-python
* https://archive.ics.uci.edu/ml/machine-learning-databases/glass/
* https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html
* !pip install mysql-connector-python

# Command List:
* import mysql.connector as conn
* mydb=conn.connect()
* mydb.commit()#change updated in MySQL database 
* cursor=mydb.cursor()#pointer
* cursor.fetchall()# show query result in tuple
* cursor.execute()#all MySQL code execute through python
* cursor.execute('show databases')#show 
* cursor.execute('create database machine')#create database
* create table database_name.table_name(student_id INT(10),first_name VARCHAR(30))
* INSERT into database_name.table_name values(int, float str information)
* DELETE from student_database.basic_data WHERE student_id=1
*

# Connecting to MySQL Using Connector/Python
* Establish communication system between sql and python

In [1]:
import mysql.connector as conn

In [2]:
mydb=conn.connect(host='localhost',
                 user='root',
                 passwd='root@1234')

In [3]:
mydb

#### cursor is a row-by-row processing; this is called pointer

In [4]:
cursor=mydb.cursor()
cursor.execute('show databases')
cursor.fetchall()

[('information_schema',),
 ('machine',),
 ('mysql',),
 ('performance_schema',),
 ('sales',),
 ('student_database',),
 ('sys',)]

# Creating Tables Using Connector/Python
* create database name: student_database

In [6]:
try:
    cursor.execute('create database student_database')
except Exception as e:
    print(e)

1007 (HY000): Can't create database 'student_database'; database exists

### Create table: 
* create table database_name.table_name('')

In [9]:
cursor.execute('create table student_database.basic_data(student_id INT(10),first_name VARCHAR(30),last_name VARCHAR(30),reg_id INT(10),class_name VARCHAR(30))')

### show database and table

In [15]:
#cursor.execute('use student_database')
#cursor.execute('show tables')
cursor.fetchall()

[('basic_data',)]

### Data entry inside Table
* insert data into table
* insert into database_name.table_name values(data information)

In [46]:
cursor.execute("insert into student_database.basic_data values(1,'Rahim','Hossain',1,'FSDS')")

In [48]:
cursor.execute("select * from student_database.basic_data")

In [49]:
cursor.fetchall()

[(1, 'Rahim', 'Hossain', 1, 'FSDS'),
 (1, 'Rahim', 'Hossain', 1, 'FSDS'),
 (1, 'Rahim', 'Hossain', 1, 'FSDS'),
 (1, 'Rahim', 'Hossain', 1, 'FSDS'),
 (1, 'Rahim', 'Hossain', 1, 'FSDS'),
 (1, 'Rahim', 'Hossain', 1, 'FSDS'),
 (1, 'Rahim', 'Hossain', 1, 'FSDS')]

#### Delete data from table

In [61]:
cursor.execute("DELETE from student_database.basic_data WHERE student_id=1")

In [62]:
mydb.commit()

# Create Glassdata database
* https://archive.ics.uci.edu/ml/machine-learning-databases/glass/

In [ ]:
cursor.execute('create table machine.glassdata(col1 INT(10),col2 float(10,5),col3 float(10,5),col4 float(10,5),col5 float(10,5),col6 float(10,5),col7 float(10,5),col8 float(10,5),col9 float(10,5),col0 float(10,5),col11 INT(10))')

In [ ]:
cursor.execute('use machine')

In [ ]:
cursor.execute('show tables')

In [ ]:
cursor.fetchall()

In [ ]:
ls

In [ ]:
file=open("glass.data",'r')

In [ ]:
file.read()

In [ ]:
import csv
with open("glass.data",'r') as f:
    glass_data=csv.reader(f,delimiter='\n')
    #print(glass_data)
    for i in glass_data:
        print(i)

In [ ]:
#cursor.execute('create table machine.glassdata(col1 INT(10),col2 float(10,5),col3 float(10,5),col4 float(10,5),col5 float(10,5),col6 float(10,5),col7 float(10,5),col8 float(10,5),col9 float(10,5),col0 float(10,5),col11 INT(10))')
# insert data into table
cursor.execute('insert into machine.glassdata values(1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1)')

In [ ]:
mydb.commit()
cursor.execute('select * from machine.glassdata')

In [ ]:
cursor.fetchall()

In [ ]:
with open("glass.data",'r') as f:
    glass_data=csv.reader(f,delimiter='\n')
    #print(glass_data)
    for i in glass_data:
        print(i[0])

In [ ]:
with open("glass.data",'r') as f:
    glass_data=csv.reader(f,delimiter='\n')
    #print(glass_data)
    for i in glass_data:
        print(i)
        print(f'insert into glassdata values({str(i[0])})')
        cursor.execute(f'insert into glassdata values({str(i[0])})')
mydb.commit()

In [ ]:
with open("glass.data",'r') as f:
    glass_data=csv.reader(f,delimiter='\n')
    #print(glass_data)
    for i in glass_data:
        type(print(i[0]))
        print(f'insert into glassdata values({str(i[0])})')
        cursor.execute('insert into glassdata values({values})'.format(values=((i[0]))))
mydb.commit()

In [ ]:
mydb.commit()

In [ ]:
import pandas as pd

In [ ]:
pd.read_sql("select * from machine.glassdata",mydb)

In [ ]:
pd.read_sql("show databases",mydb)

In [ ]:
#deletion table

In [66]:
l=['sanowar','hossain']
for i in l:
    print(type(i))

<class 'str'>
<class 'str'>